NODE_ENV=development
APP_NAME=NestJS API Starter
APP_VERSION=0.0.1
PORT=3000
API_PREFIX=api
API_VERSION=1

DATABASE_URL=postgresql://nestjs:nestjs@localhost:5432/nestjs_starter
DATABASE_SSL=false

JWT_ACCESS_SECRET=change-me-access-secret-at-least-32-characters
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_SECRET=change-me-refresh-secret-at-least-32-characters
JWT_REFRESH_EXPIRES_IN=2592000

CORS_ORIGINS=http://localhost:3000
SWAGGER_ENABLED=true
LOG_LEVEL=debug
TRUST_PROXY_HOPS=0

POSTGRES_USER=nestjs
POSTGRES_PASSWORD=nestjs
POSTGRES_DB=nestjs_starter
